// Navigation Styles here

.container.home {
    .flex();
    flex-direction: column;
    header {
        width: 100%;
        .flex();
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
    
        h1 {
            justify-content: flex-start;
        }
    
        nav {
            width: 60%;
            justify-content: space-around;
            flex-direction: row;
            .flex();
            border-bottom: 1px dashed gray;
        
            a {
                text-decoration: none;
                color: black;
                font-size: 1.5rem;
                align-self: center;
            }
        }
    }
}





